body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#menu{
    transition: all 0.5s ease-in-out;
}
#menu-content{
    transition: all 0.5s ease-in-out;
}
.menu-btn{
    transition: all 0.3s ease-out;
}
.menu-btn-line{
    width: 20px;
    height: 2px;
    margin: 0 0 5px 0;
    background: #e6e6e6;
    transition: all 0.3s ease-out;
}
.menu-btn-line:nth-child(3){
    margin: 0;
}
.menu-btn.open .menu-btn-line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.menu-btn.open .menu-btn-line:nth-child(2) {
    opacity: 0;
}
.menu-btn.open .menu-btn-line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}


/* Change the color of calendar icon from input type date */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}


.fade-in{
    animation: fadeIn 300ms ease-in forwards;
}
.fade-out{
    animation: fadeOut 300ms ease-out forwards;
}
.overlay-fade-in{
    animation: overlayFadeIn 300ms ease-in forwards;
}
.overlay-fade-out{
    animation: overlayFadeOut 300ms ease-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes overlayFadeIn {
    from { opacity: 0; }
    to { opacity: 0.5; }
}
@keyframes overlayFadeOut {
    from { opacity: 0.5; }
    to { opacity: 0; }
}

.history-arrow{
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
    margin-right: 3px;
}
.arrow-up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: -3px;
    margin-right: 3px;
}